.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

/* Home Page Styles */
.homeDiv {
  height: 100vh;
  margin: 2% 0;
  text-transform: uppercase;
  color: firebrick;
}

.elephantImg {
  width: 350px;
  margin: 10% 0;
}

nav {
  margin-top: 10%;
  font-weight: bold;
  color: firebrick;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: firebrick;
  margin: 2% 2% 0;
}

.michelle {
  position: absolute;
  width: 500px;
  top: 275px;
  right: 510px;
}


