/* General Styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
}

.title {
  color: white;
}

#about, #work, #contact {
  width: 100%;
  display: flex;
  text-align: center;
}

#about div, #work div, #contact div {
  width: 50%;
}

.titleDiv {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleDiv nav {
  margin-top: 35%;
}

.titleImg {
  width: 300px;
  margin-top: 30%;
}

/* Nav Styles */
nav {
  font-weight: bold;
  color: firebrick;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: firebrick;
  margin: 2% 2% 0;
}

nav a:hover {
  color: white
}

/* Home Page Styles */
.homeDiv {
  height: 100vh;
  margin: 2% 0;
  text-transform: uppercase;
  color: firebrick;
}

.homeDiv nav {
  margin-top: 6%;
}

.ms {
  width: 55%;
}

.elephants {
  width: 20%;
}

.homeDiv h4 {
  margin-top: 0;
}

.logo {
  width: 500px;
  margin-top: 4%;
}


/* About Styles */
.aboutImgDiv {
  background-color: firebrick;
}

.aboutImgDiv nav, .aboutImgDiv nav a {
  color: black;
}

.aboutImgDiv nav a:hover {
  color: white;
}

.aboutDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-top: 3%;
  background-color: white;
}

.aboutDiv p, .aboutDiv h3 {
  padding: 1% 10%;
}

.michelle {
  width: 30%;
  border-radius: 5px;
  border: 2px solid firebrick;
}

/* Work Styles */
.ddt, .gigapet, .farmfresh, .amiibo, .life {
  width: 50%;
}

.life h3, .life p, .ddt h3, .ddt p, .gigapet h3, .gigapet p, .farmfresh h3, .farmfresh p, .amiibo h3, .amiibo p {
  width: 175%;
  text-align: left;
  margin-left: 10%;
  color: white;
}

.ddt img, .gigapet img, .farmfresh img, .amiibo img, .life img {
  width: 200%;
}

.projectDiv {
  height: 100vh;
  overflow: auto;
  background-color: firebrick;
}

.projectDiv::-webkit-scrollbar {
  display: none;
}

.projectDiv a {
  text-decoration: none;
}

.projectDiv h3:hover {
  color: black;
}

/* Contact Styles */
.contactDiv {
  /* height: 95vh; */
  background-color: #504c4c;
}

.contactDiv nav, .contactDiv nav a {
  color: black;
}

.contactDiv nav a:hover {
  color: white;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 3%;
}

.contactText, .iconLinks {
  margin-left: 10%;
}

.contactText h2, .contactText p {
  width: 175%;
  margin: 10% 0;
}

.iconLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.iconLinks a {
  text-decoration: none;
  color: black;
}

.iconLinks i {
  color: black;
  font-size: 3em;
}

.iconLinks i:hover {
  color: firebrick;
}

/* footer styles */
footer {
  width: 100%;
  background-color: firebrick;
  color: white;
}

/* Media Queries */

/* iPad Pro 1024 x 1366 */
@media (max-width: 1024px) {

  .homeDiv {
    height: 50vh;
  }

  .homeDiv nav {
    margin-top: 15%;
  }

  .titleDiv, .projectDiv, .contactDiv {
    height: 45vh;
  }

  .aboutDiv p, .aboutDiv h3 {
    padding-right: 20%;
  }

  .life h3, .life p, .ddt h3, .ddt p, .gigapet h3, .gigapet p, .farmfresh h3, .farmfresh p, .amiibo h3, .amiibo p {
    width: 135%;
    text-align: left;
    margin-left: 10%;
  }

  .contactText h2, .contactText p {
    width: 125%;
    margin: 10% 0;
  }

}

/* iPad 768 x 1024 */
@media (max-width: 768px) {

  .logo {
    width: 400px;
  }

  .homeDiv {
    height: 60vh;
  }

  .homeDiv nav {
    margin-top: 20%;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  .aboutDiv p, .aboutDiv h3 {
    padding-right: 15%;
  }

  .iconLinks i {
    font-size: 2.4em;
  }

}

@media (max-width: 600px) {

  .homeDiv {
    height: 55vh;
  }

  #about, #work, #contact {
    flex-direction: column;
  }
  
  #about div, #work div, #contact div {
    width: 100%;
  }

  .ddt img, .gigapet img, .farmfresh img, .amiibo img, .life img{
    display: none;
  }

  .life h3, .life p, .ddt h3, .ddt p, .gigapet h3, .gigapet p, .farmfresh h3, .farmfresh p, .amiibo h3, .amiibo p {
    width: 90%;
    margin-left: 5%;
  }

  .life, .ddt, .gigapet, .farmfresh, .amiibo {
    border-bottom: 4px dotted black;
    padding-bottom: 2%;
  }

  .titleDiv nav {
    display: none;
  }

  .titleImg {
    margin-top: 0;
  }

  .contactText h2, .contactText p {
    margin: 5% 0;
  }

  .iconLinks {
    justify-content: space-evenly;
    margin: 0 0 5% 0;
    
  }
}

/* Note 10 Plus */
@media (max-width: 500px) {

  .homeDiv {
    height: 85vh;
  }

  #about div, #work .titleDiv, #contact div {
    height: 65vh;
  }

  .aboutDiv p, .aboutDiv h3 {
    padding-right: 15%;
  }

  .contactText {
    padding: 10% 0;
  }

  .contactText h2, .contactText p {
    width: 80%;
  }
}

/* Note 10 */
@media (max-width: 426px) {
  .logo {
    width: 325px;
  }

  .homeDiv {
    height: 75vh;
  }

}


@media (max-width: 360px) {
  .titleImg {
    width: 275px;
  }

  .iconLinks i {
    font-size: 2em;
  }

  footer {
    font-size: 1.4rem;
  }
}
