.App {
  text-align: center;
  margin: 0 auto;
}

/* Home Page Styles */
.homeDiv {
  margin: 3% 0 2%;
  text-transform: uppercase;
  color: maroon;
}

.elephantImg {
  width: 450px;
}

nav {
  margin-top: 3%;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: maroon;
  margin: 2% 2% 0;
}
